@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: darkslategray;
}

body:before{
    content: "";
    background-color: seagreen;
    filter: blur(10vh);

    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 20%;
    height: 20%;
}

body:after{
    content: "";
    background-color: goldenrod;
    filter: blur(10vh);

    position: absolute;
    top: 20%;
    right: 20%;
    width: 10%;
    height: 10%;
}

.container{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px gray;
    padding: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    display: flex;
    flex-direction: column;
}

.title{
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;

    border-bottom: 1px solid;
    margin-bottom: 20px;
    padding: 10px;
}

#input{
    background-color: transparent;
    color: white;
    font-size: 1.2em;
    text-align: center;

    border: 1px solid white;
    border-radius: 4px;

    margin: 0px 60px 20px;
    padding: 2px;
}

#input::placeholder{
    color: gray;
}

#input:focus{
    outline: none;
}

.option{
    color: white;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.option input{
    height: 1.2em;
    width: 1.2em;
    cursor: pointer;
}

.option input:checked{
    accent-color: aquamarine;
}

.option:nth-of-type(3){
    border-bottom: 1px solid;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

button{
    background-color: transparent;
    color: white;
    font-size: 1.1em;
    text-align: center;

    border: 1px solid white;
    border-radius: 4px;

    margin: 0px 20px;
    padding: 5px;

    transition: all 0.5s;
}

button:hover{
    color: aquamarine;
    border-color: aquamarine;

    cursor: pointer;
}

#result{
    color: aquamarine;
    font-size: 1.2em;
    text-align: center;

    padding: 10px 0px 0px;
}
